{% extends 'base2.html' %}
{% load static %}

{% block title %}Applan Task Manager{% endblock %}

{% block content %}

<div class="container">
    <h1 class = "taskmanager" align="center">Task Manager</h1>
    <div class="row">
      <div class="col-md-4 ">
        <h3>Add Task</h3>

        <form id="addUser" action="">
                  <div class="form-group">
                    <input class="form-control" type="text" name="name" placeholder="Title" required>
                  </div>
                  <div class="form-group">
                    <input class="form-control" type="text" name="address" placeholder="Description" required>
                  </div>
                  <div class="form-group">
                    <input class="form-control" type="number" name="age" min="10" max="100" placeholder="Length" required>
                  </div>
                  <button class="btn btn-outline-success form-control" type="submit">SUBMIT</button>
        </form>
      </div>




      <div class="col-md-8">
        <h3>Tasks</h3>

        <table id="userTable" class="table table-striped">
          <tr>
            <th>Title</th>
            <th>Description</th>
            <th colspan="4">Length</th>
          </tr>
          {% if users %}
          {% for user in users %}
          <tr id="user-{{user.id}}">
              <td class="userName userData" name="name">{{user.title}}</td>
              
              <td class="userAddress userData" name="address">{{user.description}}</td>
              
              <td class="userAge userData" name="age">{{user.length}}</td>
              
              <!-- timer-->
              <td align="center">
                  <button class="btn btn-success form-control" onClick="timeTask({{user.id}})"> 
                    <span id="timer-{{user.id}}">
                       timer
                    </span>
                  </button>
              </td>

              <td align="center">
                  <button class="btn btn-success form-control" onClick="editUser({{user.id}})" data-toggle="modal" data-target="#myModal">EDIT</button>
              </td>
             
              <td align="center">
                  <button class="btn btn-danger form-control" onClick="deleteUser({{user.id}})">DELETE</button>
              </td>
          </tr>
          {% endfor %}
          {% else %}
            No Users
          {% endif %}
        </table>
      </div>
    </div>
  </div>




  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
          <h4 class="modal-title" id="myModalLabel">Update User</h4>
        </div>
        <form id="updateUser" action="">
        <div class="modal-body">
            <input class="form-control" id="form-id" type="hidden" name="formId"/>
            <label for="name">Name</label>
            <input class="form-control" id="form-name" type="text" name="formName"/>
            <label for="address">Address</label>
            <input class="form-control" id="form-address" type="text" name="formAddress"/>
            <label for="age">Age</label>
            <input class="form-control" id="form-age" type="number" name="formAge" min=10 max=100/>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary" >Save changes</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}



{% block javascript %}
<script>
// Create Django Ajax Call
$("form#addUser").submit(function() {
    var titleInput = $('input[name="name"]').val().trim();
    var descriptionInput = $('input[name="address"]').val().trim();
    var lengthInput = $('input[name="age"]').val().trim();
    if (titleInput && descriptionInput && lengthInput) {
        // Create Ajax Call
        $.ajax({
            url: '{% url "crud_ajax_create" %}',
            data: {
                'title': titleInput,
                'description': descriptionInput,
                'length': lengthInput
            },
            dataType: 'json',
            success: function (data) {
                if (data.task2) {
                  appendToUsrTable(data.task2);
                }
            }
        });
      } else {
        alert("All fields must have a valid value.");
    }
    $('form#addUser').trigger("reset");
    return false;
});
function appendToUsrTable(task2) {
  $("#userTable > tbody:last-child").append(`
          <tr id="user-${task2.id}">
              <td class="userName userData" name="name">${task2.title}</td>
              
              <td class="userAddress userData" name="address">${task2.description}</td>
              
              <td class="userAge userData" name="age">${task2.length}</td>
              
              <!-- timer-->
              <td align="center">
                  <button class="btn btn-success form-control" onClick="timeTask(${task2.id})"> 
                    <span id="timer-${task2.id}">
                       timer
                    </span>
                  </button>
              </td>

              <td align="center">
                  <button class="btn btn-success form-control" onClick="editUser(${task2.id})" data-toggle="modal" data-target="#myModal">EDIT</button>
              </td>
             
              <td align="center">
                  <button class="btn btn-danger form-control" onClick="deleteUser(${task2.id})">DELETE</button>
              </td>
          </tr>

    `);

}


// __________________________UDPATE________________________
// Create Django Ajax Call
$("form#updateUser").submit(function() {
    var idInput = $('input[name="formId"]').val().trim();
    var nameInput = $('input[name="formName"]').val().trim();
    var addressInput = $('input[name="formAddress"]').val().trim();
    var ageInput = $('input[name="formAge"]').val().trim();
    if (nameInput && addressInput && ageInput) {
        // Create Ajax Call
        $.ajax({
            url: '{% url "crud_ajax_update" %}',
            data: {
                'id': idInput,
                'name': nameInput,
                'address': addressInput,
                'age': ageInput
            },
            dataType: 'json',
            success: function (data) { 
                if (data.task2) {
                  updateToUserTabel(data.task2);
                  $('.modal-backdrop').remove();
                }
            }
        });
       } else {
        alert("All fields must have a valid value.");
    }
    $('form#updateUser').trigger("reset");
    $('#myModal').modal('hide');
    return false;
});


// basically for the modal
// Update Django Ajax Call
function editUser(id) {
  if (id) {
    tr_id = "#user-" + id;
    name = $(tr_id).find(".userName").text();
    address = $(tr_id).find(".userAddress").text();
    age = $(tr_id).find(".userAge").text();
    $('#form-id').val(id);
    $('#form-name').val(name);
    $('#form-address').val(address);
    $('#form-age').val(age);
  }
}



function updateToUserTabel(task2){
    $("#userTable #user-" + task2.id).children(".userData").each(function() {
        var attr = $(this).attr("name");
        if (attr == "name") {
          $(this).text(task2.title);
        } else if (attr == "address") {
          $(this).text(task2.description);
        } else {
          $(this).text(task2.length);
        }
      });
}
// __________________________DELETE________________________

function deleteUser(id) {
  var action = confirm("Are you sure you want to delete this Task?");
  if (action != false) {
    $.ajax({
        url: '{% url "crud_ajax_delete" %}',
        data: {
            'id': id,
        },
        dataType: 'json',
        success: function (data) {
            if (data.deleted) {
              $("#userTable #user-" + id).remove();
            }
        }


    });
  }
}

function startTimer(duration, display) {
    var timer = duration, minutes, seconds;
    setInterval(function () {
        minutes = parseInt(timer / 60, 10);
        seconds = parseInt(timer % 60, 10);

        minutes = minutes < 10 ? "0" + minutes : minutes;
        seconds = seconds < 10 ? "0" + seconds : seconds;

        display.html(minutes + ":" + seconds);

        if (--timer < 0) {
            timer = duration;
        }
    }, 1000);
}
function timeTask(id){
  // ajax call to get the seconds to time, and call start timer after a success
  var action = confirm("Timing Task: Focus on it.");
  if (action != false) {
    $.ajax({
        url: '{% url "crud_ajax_time" %}',
        data: {
            'id': id,
        },
        dataType: 'json',
        success: function (data) {
            if (data.id) {
              var fiveMinutes = 60 * data.timer;
              startTimer(fiveMinutes, $('#timer-' + data.id));
            }
        }
    });
  }
}

// jQuery(function ($) {
//     var fiveMinutes = 60 * 5,
//         display = $('.time');
//     startTimer(fiveMinutes, display);
// });


</script>

{% endblock javascript %}