{% extends 'base2.html' %}
{% load static %}

{% block title %}Applan Task Manager{% endblock %}

{% block content %}

<div class="container">
    <h2 class = "taskmanager" align="center">{{user.username}}'s Tasks</h2>

    <div class="row">
      <div class="col-md-4 ">


        <form id="addUser" action="">
                  <div class="form-group">
                    <input class="form-control" type="text" name="name" placeholder="Title" required>
                  </div>
                  <div class="form-group">
                    <input class="form-control" type="text" name="address" placeholder="Description" required>
                  </div>
                  <div class="form-group">
                    <input class="form-control" type="number" name="age" min="1" max="100" placeholder="Duration (minutes)" required>
                  </div>
                  <button class="btn btn-outline-success form-control" type="submit">SUBMIT</button>
        </form>
        <div id="resetTimer">
            <button class="btn btn-outline-secondary form-control" onClick="resetAllTimers()">Reset Timers</button>
        </div>
      </div>




      <div class="col-md-8">

        <table id="userTable" class="table table-bordered">
          <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Duration</th>
            <th colspan="4">
               <span id = "finishdiv">
                  <button id="finish" class="btn btn-success form-control" onClick="calc_efficiency()"> 
                         Finished
                  </button>
              </span>

              <span id = "finishdiv2" align="center">
                      0%
              </span>
            </th>


          </tr>
          {% if users %}
          {% for user in users %}
          <tr id="user-{{user.id}}">
              <td class="userName userData" name="name">{{user.title}}</td>
              
              <td class="userAddress userData" name="address">{{user.description}}</td>
              
              <td class="userAge userData" name="age">{{user.length|floatformat:"0"}}</td>
              
              <!-- timer-->
              <td align="center">
                  <button class="btn btn-outline-secondary form-control" onClick="timeTask({{user.id}})"> 
                    <span id="timer-{{user.id}}">
                       timer
                    </span>
                  </button>
              </td>
              <!-- PAUSE -->
              <td align="center">
                  <button class="btn btn-outline-secondary form-control" onClick="pauseTask({{user.id}})"> 
                    <span id="pause-{{user.id}}">
                       pause
                    </span>
                  </button>
              </td>

              <td align="center">
                  <button class="btn btn-outline-success form-control" onClick="editUser({{user.id}})" data-toggle="modal" data-target="#myModal">edit</button>
              </td>
             
              <td align="center">
                  <button class="btn btn-danger form-control" onClick="deleteUser({{user.id}})">delete</button>
              </td>
          </tr>
          {% endfor %}
          {% else %}
          {% endif %}
        </table>
      </div>
    </div>
  </div>




  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
          <h4 class="modal-title" id="myModalLabel">Update User</h4>
        </div>
        <form id="updateUser" action="">
        <div class="modal-body">
            <input class="form-control" id="form-id" type="hidden" name="formId"/>
            <label for="name">Title</label>
            <input class="form-control" id="form-name" type="text" name="formName"/>
            <label for="address">Description</label>
            <input class="form-control" id="form-address" type="text" name="formAddress"/>
            <label for="age">Duration</label>
            <input class="form-control" id="form-age" type="number" name="formAge" min=1 max=100/>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary" >Save changes</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}



{% block javascript %}
<script>
// Create Django Ajax Call
$("form#addUser").submit(function() {
    var titleInput = $('input[name="name"]').val().trim();
    var descriptionInput = $('input[name="address"]').val().trim();
    var lengthInput = $('input[name="age"]').val().trim();
    if (titleInput && descriptionInput && lengthInput) {
        // Create Ajax Call
        $.ajax({
            url: '{% url "crud_ajax_create" %}',
            data: {
                'title': titleInput,
                'description': descriptionInput,
                'length': lengthInput
            },
            dataType: 'json',
            success: function (data) {
                if (data.task2) {
                  appendToUsrTable(data.task2);
                }
            }
        });
      } else {
        alert("All fields must have a valid value.");
    }
    $('form#addUser').trigger("reset");
    return false;
});
function appendToUsrTable(task2) {
  $("#userTable > tbody:last-child").append(`
          <tr id="user-${task2.id}">
              <td class="userName userData" name="name">${task2.title}</td>
              
              <td class="userAddress userData" name="address">${task2.description}</td>
              
              <td class="userAge userData" name="age">${task2.length{{user.length|floatformat:"0"}}}</td>
              
              <!-- timer-->
              <td align="center">
                  <button class="btn btn-outline-secondary form-control" onClick="timeTask(${task2.id})"> 
                    <span id="timer-${task2.id}">
                       timer
                    </span>
                  </button>
              </td>
              <!-- PAUSE -->
              <td align="center">
                  <button class="btn btn-outline-secondary form-control" onClick="pauseTask(${task2.id})"> 
                    <span id="pause-${task2.id}">
                       Pause
                    </span>
                  </button>
              </td>

              <td align="center">
                  <button class="btn btn-outline-success form-control" onClick="editUser(${task2.id})" data-toggle="modal" data-target="#myModal">edit</button>
              </td>
             
              <td align="center">
                  <button class="btn btn-danger form-control" onClick="deleteUser(${task2.id})">delete</button>
              </td>
          </tr>

    `);

}


// __________________________UDPATE________________________
// Create Django Ajax Call
$("form#updateUser").submit(function() {
    var idInput = $('input[name="formId"]').val().trim();
    var nameInput = $('input[name="formName"]').val().trim();
    var addressInput = $('input[name="formAddress"]').val().trim();
    var ageInput = $('input[name="formAge"]').val().trim();
    if (nameInput && addressInput && ageInput) {
        // Create Ajax Call
        $.ajax({
            url: '{% url "crud_ajax_update" %}',
            data: {
                'id': idInput,
                'name': nameInput,
                'address': addressInput,
                'age': ageInput
            },
            dataType: 'json',
            success: function (data) { 
                if (data.task2) {
                  updateToUserTabel(data.task2);
                  $('.modal-backdrop').remove();
                }
            }
        });
       } else {
        alert("All fields must have a valid value.");
    }
    $('form#updateUser').trigger("reset");
    $('#myModal').modal('hide');
    return false;
});


// basically for the modal
// Update Django Ajax Call
function editUser(id) {
  if (id) {
    tr_id = "#user-" + id;
    name = $(tr_id).find(".userName").text();
    address = $(tr_id).find(".userAddress").text();
    age = $(tr_id).find(".userAge").text();
    $('#form-id').val(id);
    $('#form-name').val(name);
    $('#form-address').val(address);
    $('#form-age').val(age);
  }
}



function updateToUserTabel(task2){
    $("#userTable #user-" + task2.id).children(".userData").each(function() {
        var attr = $(this).attr("name");
        if (attr == "name") {
          $(this).text(task2.title);
        } else if (attr == "address") {
          $(this).text(task2.description);
        } else {
          $(this).text(task2.length);
        }
      });
}
// __________________________DELETE________________________

function deleteUser(id) {
  var action = confirm("Are you sure you want to delete this Task?");
  if (action != false) {
    $.ajax({
        url: '{% url "crud_ajax_delete" %}',
        data: {
            'id': id,
        },
        dataType: 'json',
        success: function (data) {
            if (data.deleted) {
              $("#userTable #user-" + id).remove();
            }
        }


    });
  }
}

var myTimedict= {};
var started = 0;
function startTimer(duration, display,id) {
    var timer = duration;

    myTimedict[id] = setInterval(function () {
        minutes = parseInt(timer / 60, 10);
        seconds = parseInt(timer % 60, 10);

        minutes = minutes < 10 ? "0" + minutes : minutes;
        seconds = seconds < 10 ? "0" + seconds : seconds;

        display.html(minutes + ":" + seconds);

        started = 1;
        if (--timer < 0) {
            zeroTimer(id);
        }
    }, 1000);
}

function pauseTimer(id){
  console.log(id)
  clearInterval(myTimedict[id])
  myTimedict[id] = null;
}

function timeTask(id){
  // ajax call to get the seconds to time, and call start timer after a success
    if (myTimedict[id])
  {
    confirm("Already a timer running!")
  }
  else{
      var action = confirm("Timing Task: Focus on it.");
      if (action != false) {
        $.ajax({
            url: '{% url "crud_ajax_time" %}',
            data: {
                'id': id,
            },
            dataType: 'json',
            success: function (data) {
                if (data.id) {
                    time_inmins = data.timer; //only first
                    startTimer(time_inmins, $('#timer-' + data.id),id);
                }
            }
        });
      }
    }
}

function calc_efficiency(){
  $.ajax({
    url: '{% url "crud_ajax_calc" %}',
    dataType:'json',
    success:function(data){
      if (data.efficiency){
        $('#finishdiv2').html(data.efficiency +"%");
      }
    }
  })
}

function pauseTask(id){
  // ajax call to get the seconds to time, and call start timer after a success
  var time_left = $('#timer-'+id).text();
  console.log(time_left)
 // console.log(time_left)
    $.ajax({
        url: '{% url "crud_ajax_pause" %}',
        data: {
            'id': id,
            'time_left': time_left,
        },
        dataType: 'json',
        success: function (data) {
            if (data.paused) {
              console.log(data.id)
              pauseTimer(data.id)
            }
        }
    });
  }

function zeroTimer(id){
  // ajax call to get the seconds to time, and call start timer after a success
  var time_left = "0:00"
 // console.log(time_left)
    $.ajax({
        url: '{% url "crud_ajax_pause" %}',
        data: {
            'id': id,
            'time_left': time_left,
        },
        dataType: 'json',
        success: function (data) {
            if (data.paused) {
              pauseTimer(data.id)
            }
        }
    });
  }
']'
function resetAllTimers()
{
    //gonna need to set all numbers to "timer"
    $.ajax({
    url: '{% url "crud_ajax_reset" %}',
    dataType:'json',
    success: function (data) {
    if (data.reset) {
       console.log(data.reset)
       setTimerString(data.id_arr)
      }
    }
  });
}


function setTimerString(id_arr)
{
   for (var i = 0; i<id_arr.length;i++)
    {
      $('#timer-' + id_arr[i]).html("timer")
       myTimedict[id_arr[i]] = null
    }
}

</script>
<!-- fix the set interval -->
{% endblock javascript %}