{% extends 'base2.html' %}
{% load static %}

{% block title %}Efficiency Graph{% endblock %}


{% block javascript %}
<script>
$(document).ready(function(){
var ctx = document.getElementById('myChart').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: [{% for item in my_date %}'{{item}}',{% endfor %}] ,
        datasets: [{
            label: '% Efficiency',
            data: [{% for item in my_efficiency %}'{{item}}',{% endfor %}],

            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});

	
})
</script>


{% endblock javascript %}


{% block content %}
    
<body>
    <div align = "center">
        <h2>{{user.username}}'s Metrics <h2>
    </div>
	<div id = "canvas-holder" align="center">
		<canvas id="myChart" align="right"></canvas>
	</div>
</body>


{% endblock %}
