{% extends 'base2.html' %}
{% load static %}

{% block title %}Efficiency Graph{% endblock %}


{% block javascript %}
<script>
$(document).ready(function(){
var ctx = document.getElementById('myChart').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: [{% for item in my_date %}'{{item}}',{% endfor %}] ,
        datasets: [{
            label: '% Efficiency',
            data: [{% for item in my_efficiency %}'{{item}}',{% endfor %}],
            backgroundColor: 'rgba(75, 192, 192, 0.2)',
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});

	
})
</script>


{% endblock javascript %}


{% block content %}
    
<body>
    <div align = "center">
        <h2>{{user.username}}'s Metrics <h2>
    </div>

    <nav align ="center">
        <ul class = "nav__links2">
            {% if my_date%}
            {% else %}
                <h1>No Data to display </h1>
            {% endif %} 

            <li><a href="{% url 'show_graph30' %}">30 Days</a></li>
            <li><a href="{% url 'show_graph90' %}"> 90 Days </a></li>
            <li><a href="{% url 'show_graphall' %}"> All Days</a></li>
        </ul>
    </nav>
	<div id = "canvas-holder" align="center">
		<canvas id="myChart" align="right"></canvas>
	</div>

</body>


{% endblock %}
