{% load static %}
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel='stylesheet' type = "text/css" href="{% static 'css/main.css' %}">
    <title>{% block title %}Title{% endblock title %}</title>
    {% block stylesheet %}{% endblock stylesheet %}
  

    {% include 'navbar.html' %}
  </head>
  <body>
    <main>
    {% block content %}
    {% endblock content %}
    </main>
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script src='https://code.jquery.com/jquery-3.2.1.min.js'></script>
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'></script>
    {% include 'footer.html' %}
    {% block javascript %}
    {% endblock javascript%}



  </body>
</html>