@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500&display=swap');


body{
	font-family: "Montserrat", sans-serif;
	background-color: black;
}

.home_content{
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
}
#welcometext,#welcometext2{
	font-size: 70px;
	font-family: "Montserrat", sans-serif;
}

#plan_button{
	margin-top:8%;
	padding-left: 5%;
	padding-right: 5%;
	font-size: 30px;
	font-family: "Montserrat", sans-serif;
	border-width:medium;
}
h1{
	font-size:1000;
}